@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
} */

/* @keyframes pulseBorder {
    0% {
      border-color: rgba(80, 2, 2, 0.4);
    }
    50% {
      border-color: rgba(255, 30, 0, 0.6);
    }
    100% {
      border-color: rgba(255, 0, 0, 0.4);
    }
  } */
  
  .animate-border {
    animation: pulseBorder 3s infinite alternate ease-in-out;
  }

  .bg-dark{
    background-color: rgba(18, 11, 11, 1);
  }

  .bg-b-dark{
    background-color: rgb(39, 33, 33);
  }

  .bg-white{
    background-color: #ffffff;
  }

  .bg-red{
    background-color: rgba(182, 46, 46, 1);
  }

  .text-red{
    color:rgba(182, 46, 46, 1) ;
  }

  .border-red{
    color:rgba(182, 46, 46, 1);
  }