@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* Custom Scrollbar Styles */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-700 {
  scrollbar-color: #374151 transparent;
}

.scrollbar-track-transparent {
  scrollbar-color: #374151 transparent;
}

/* Webkit Scrollbar Styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 2px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}

/* @keyframes pulseBorder {
    0% {
      border-color: rgba(80, 2, 2, 0.4);
    }
    50% {
      border-color: rgba(255, 30, 0, 0.6);
    }
    100% {
      border-color: rgba(255, 0, 0, 0.4);
    }
  } */
  
  .animate-border {
    animation: pulseBorder 3s infinite alternate ease-in-out;
  }

  .bg-dark{
    background-color: rgba(18, 11, 11, 1);
  }

  .bg-b-dark{
    background-color: rgb(39, 33, 33);
  }

  .bg-white{
    background-color: #ffffff;
  }

  .bg-red{
    background-color: rgba(182, 46, 46, 1);
  }

  .text-red{
    color:rgba(182, 46, 46, 1) ;
  }

  .border-red{
    color:rgba(182, 46, 46, 1);
  }